.container {
    /* display: flex; */
    flex-wrap: nowrap;
}

.content {
    padding: 3rem;
    flex: 0 0 75%;
}

aside {
    width: 250px;
    position: sticky;
    height: 100vh;
}

code {
    color: #d14;
    word-break: break-word;
}

pre {
    border-top: 0;
    padding: 1.5rem;
    background: #f8f8f8;
    border: 2px solid #eee;
}

pre, code {
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

.demo {
    border: 2px solid #eee;
    padding: 1.5rem;
    margin-bottom: -1rem;
}

.content > h2 {
    margin-top: 60px;
}

.content > h3 {
    margin-top: 20px;
}