// stylelint-disable declaration-no-important

// Common values
@each $position in $positions {
    .#{$position} { position: $position !important; }
  }
  
  // Shorthand
  
  .fixed-top {
    position: fixed;
    top: 0;
  }
  
  .fixed-bottom {
    position: fixed;
    bottom: 0;
  }
  
  .sticky-top {
    position: sticky;
    top: 0;
  }
  